* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: rubik, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
}

.wrap {
    max-width: 1024px;
    padding: 80px 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    margin-bottom: 80px;
    transition: 1ms;
}

.header_section_header_section--media {
    flex-shrink: 0;
    margin-right: 4.1%;
}

.header_section_header_section--media img {
    border-radius: 1000px;
    display: block;
    width: 100px;
}

.header_section_header_section--media a {
    color: #4b6cc1;
    text-decoration: underline;
    text-decoration-color: transparent ;
    cursor: pointer;
}

.header_section_header_section--menu {
    align-self: center;
    width: 100%;
}

.logo {
    color: #191a1d;
    display: inline-block;
    font-size: 1.75rem;
    text-decoration: none;
}

.logo:after {
    max-width: 30%;
    background: #4b6cc1;
    border-radius: 1000px;
    content: "";
    display: block;
    height: 6px;
    width: 100%;
}

.logo, .menu_item {
    font-weight: 600;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 7px 0;
    margin-top: 20px;
    justify-content: space-around;
    list-style: none;
}

.menu ul li {
    display: flex;
}

.menu_item {
    color: #5e5e5e;
    font-size: 1.125rem;
}

.About-Me {
    background-color: #f1f8fa;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 100px;
}

.About-Me h1 {
    color: #191a1d;
    font-size: xx-large;
    font-weight: 400;
    line-height: 120%;
    display: block;
    padding-bottom: 15px;
    font-size: xx-large;
}

.About-Me p {
    margin-top: 15px;
    font-size: 1.375rem;
}

.header a:hover {
    font-size: x-large;
}

.mb-large {
    padding-bottom: 10px;
    font-size: x-large;
    margin-bottom: 60px;
}

.deeswardrobe {
    background-color: #f1f8fa;
    border-radius: 5px;
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    transition: 1ms;
}

.deeswardrobe h3, .run-buddy h3 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
}

.deeswbimg {
    margin-left: 0;
    width: 40%;
    text-align: right;
    border: 2px solid lightblue;
    transition: 1ms;
}

.deeswbimg:hover {
    width: 43%;
}

.deeswardrobe p, .run-buddy p {
    margin-top: 200px;
    font-size: 2.375rem;
    text-align: left;
}

.project {
    display: flex;
    flex-direction: row-reverse;
    
}

.deeswardrobe h3 a, .run-buddy h3 a {
    color: #191a1d;
    font-weight: 600;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    text-decoration: none;
}

.deeswardrobe h3 a:hover, .run-buddy h3 a:hover {
    color: darkblue;
    font-size: 40px;
}

.run-buddy {
    padding-top: 50px;
    margin-top: 30px;
    background-color: #f1f8fa;
    border-radius: 5px;
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    transition: 1ms;   
}

footer {
    background-color: #f1f8fa;
    border-radius: 5px;
    padding: 30px;
}

footer h3 {
    text-align: center;
    font-size: x-large;
}

    
